---
layout: layouts/home.njk
permalink: /about
eleventyNavigation:
  key: About
  order: 3
---
I Love Coding, Skiing, and the Ladies! #
Yo! I'm Tailwind Devdude! If you don't know me, know you know - ha!

I'm one chill dude who loves to code. If you don't find me coding somewhere, I'm probably skiing or chasing the ladies (they love me man!). Life is good here at Tailwind University!

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio tempor orci dapibus ultrices in. Tristique sollicitudin nibh sit amet. Elit eget gravida cum sociis natoque penatibus et. Eu lobortis elementum nibh tellus. Enim neque volutpat ac tincidunt vitae semper quis lectus. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Dictum sit amet justo donec. Amet justo donec enim diam vulputate. Mauris pharetra et ultrices neque ornare aenean euismod elementum. Dignissim enim sit amet venenatis urna cursus eget nunc. Donec massa sapien faucibus et molestie ac feugiat sed. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur.

Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Quam lacus suspendisse faucibus interdum. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Ut faucibus pulvinar elementum integer enim. Facilisi nullam vehicula ipsum a arcu cursus. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Mauris ultrices eros in cursus turpis. Malesuada fames ac turpis egestas sed tempus urna et. Nisi vitae suscipit tellus mauris a diam maecenas. Mauris in aliquam sem fringilla. In egestas erat imperdiet sed euismod nisi porta. Amet nisl suscipit adipiscing bibendum est. Cursus euismod quis viverra nibh cras pulvinar mattis nunc.

Egestas integer eget aliquet nibh. Turpis nunc eget lorem dolor sed viverra ipsum. Pellentesque habitant morbi tristique senectus et netus. Facilisis mauris sit amet massa vitae. Felis eget velit aliquet sagittis id consectetur. Mauris augue neque gravida in fermentum et sollicitudin ac. Faucibus ornare suspendisse sed nisi lacus. At risus viverra adipiscing at in tellus integer. Eget sit amet tellus cras adipiscing enim. Magna sit amet purus gravida quis blandit. Tempus egestas sed sed risus. Tincidunt praesent semper feugiat nibh. Etiam erat velit scelerisque in dictum non consectetur a.

